<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= Bamazon
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:400,700")
        link(rel="stylesheet", href="css/style.css")
    body
        header
            div(class="container")  
                div(class="header")
                    div
                        h1(class="raleway")
                            a(href="/")=pagename
        div(class="content raleway")
            div(class="container")
                br
                br
                h1(class="raleway text_center")= error