<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bamazon</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body class="raleway">
    <header>
        <div class="container">
            <div class="header">
                <div>
                    <h1 class="raleway">Bamazon</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="products">
                <div class="product">
                    <h2 class="merriweather productname">Product</h2>
                    <p class="productid">Procut ID</p>
                    <br>
                    <p class="productdep">Department</p>
                    <br>
                    <p class="productstock">Stock Units Left</p>
                    <br>
                    <button class="productbutton">Buy</button>
                </div>
                <div class="product">
                    <h2 class="merriweather productname">Product</h2>
                    <p class="productid">Procut ID</p>
                    <br>
                    <p class="productdep">Department</p>
                    <br>
                    <p class="productstock">Stock Units Left</p>
                    <br>
                    <button class="productbutton">Buy</button>
                </div>
                <div class="product">
                    <h2 class="merriweather productname">Product</h2>
                    <p class="productid">Procut ID</p>
                    <br>
                    <p class="productdep">Department</p>
                    <br>
                    <p class="productstock">Stock Units Left</p>
                    <br>
                    <button class="productbutton">Buy</button>
                </div>
                <div class="product">
                    <h2 class="merriweather productname">Product</h2>
                    <p class="productid">Procut ID</p>
                    <br>
                    <p class="productdep">Department</p>
                    <br>
                    <p class="productstock">Stock Units Left</p>
                    <br>
                    <button class="productbutton">Buy</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>